.flex-container{
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
<<<<<<< HEAD:03-08-2021/bhavinGajjar/b_fbox.css
<<<<<<< HEAD:03-08-2021/flexbox/b_fbox.css
    flex: 3px;
    /* background-color: rgb(241, 225, 228); */
=======
    flex: 1 1 3px;
>>>>>>> 0bf4659ac57825c489988585b0fc7a218cd9ff56:03-08-2021/bhavinGajjar/b_fbox.css
=======
    flex: 1 1 3px;
>>>>>>> 0bf4659ac57825c489988585b0fc7a218cd9ff56:03-08-2021/flexbox/b_fbox.css
    height: auto;
    /* flex: 2px;       */

}
.flex-item{
    height: auto;

    width: auto;
    margin: 11px;
    background-color: burlywood;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
<<<<<<< HEAD:03-08-2021/bhavinGajjar/b_fbox.css
<<<<<<< HEAD:03-08-2021/flexbox/b_fbox.css
    flex: 3px;      
    /* flex-grow: 1; */
=======
    flex: 1 2 3px;      
>>>>>>> 0bf4659ac57825c489988585b0fc7a218cd9ff56:03-08-2021/bhavinGajjar/b_fbox.css
=======
    flex: 1 2 3px;      
>>>>>>> 0bf4659ac57825c489988585b0fc7a218cd9ff56:03-08-2021/flexbox/b_fbox.css
    

}
.flex-item-1{
    border: 2px solid black;
    height: 220px;
    flex-wrap: wrap;

}
.flex-item-2{
    border: 2px solid black;

    height: 130px;
  

}
.flex-item-3{
    border: 2px solid black;
    height: 75px;
    overflow: auto;


}
.flex-item-4{
    border: 2px solid black;
    height: 130px;
    flex-direction:column;
    flex-wrap: wrap;

}

.roww{
    flex-direction:row;
    flex-wrap: wrap;
    flex: 0 3 3px;      

}

.flex-item-5{
    border: 2px solid black;
    height: auto;
    flex-wrap: wrap;

}
.flex-item-6{
    border: 2px solid black;
    flex-wrap: wrap;



}

.flex-item-7{
    border: 2px solid black;
   
    flex-wrap: wrap;
    height: 230px;
    
    width: auto;

}

.flex-item-8{
    border: 2px solid black;
    flex-wrap: wrap;
    height: 152px;
    width: auto;

}



  
  