.flexbox-container{
    display: flex;
    border: 2px solid gray;
    /* height: 45vh; */
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}
.slider-box{
    width: 86%;
    /* height: 90vh; */
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}
#slider{
    width: 100%;
    display: inline-flex;
    transition: 0.7s;
}
#slider img{
    width: 100%;
}
.indicators{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.indicators span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}
.active{
    background-color: red !important;
}
.flexbox-item{
    background-color: burlywood;
    border: 1PX solid blue;
    width: 122px;
    margin: 12PX;
}

.left-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexbox-item-1{
    height: 100px;
    width: 190px;
}
.flexbox-item-2{
    height: 50px;
}
.flexbox-item-3{
    height: 130px;
}
.flexbox-item-4{
    height: 100px;
    width: 190px;
}
.flexbox-item-5{
 height: 200px;
 width: 190px;
}
.right-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flexbox-item-6{
    height: 312px;
}
.right-sec-one{
    flex-wrap: wrap;
}
.flexbox-item-7{
    height: 178px;
    width: 190px;

}
.flexbox-item-8{
      height: 122PX;
      width: 190px;

}