body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
}

.container {
  width: 50vw;
  padding: 15px;
  margin-top: 5rem;
  border: 1px solid gray;
}

.radio-container {
  display: flex;
  justify-content: space-between;
}

.radio-label {
  margin: 0 5px;
  align-items: center;
}

.checkbox-text {
  color: black;
  display: flex;
  justify-content: space-evenly;
}

.error-text {
  color: red;
  font-size: 11px;
  margin-top: 2px;
}

.showText {
  color: navy;
  font-weight: bold;
  letter-spacing: 0.5px;
}
