* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#slider figure img {
    float: left;
    width: 10%;
}
#slider {

    height: 40%;
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 1500px;
    left: 0;
    animation: 20s slider1 infinite;
}


@keyframes slider1 {
    0% {
        left: 0;
    }
    20% {
        left: -25%;
    }
    25% {
        left: -50%;
    }
    40% {
        left: -100%
    };
    50% {
        left: -200%;
    }
    75% {
        left: -200%
    }
    95% {
        left: -300%;
    }
}
.flex-main {
    width: 100%;
    min-height: 60vh;
    display: flex;
}

.border {
    border: 1px solid gray;
    margin: 4px;
}
.flex-container-1 {

    flex-grow: 2;

    display: flex;
    flex-direction: column;
}
.flex-item-1-1 {
    display: flex;
    height: 30%;
    width: 100%;
}

.flex-item-1-1-1 {
    flex-grow: 1;
}

.flex-item-1-1-2 {
    flex-grow: 1;
}
.flex-item-1-2 {
    display: flex;
    flex-grow: 2;
}
.flex-item-1-2-1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.flex-s-1 {
    flex-grow: 1;
}
.flex-s-2 {
    flex-grow: 1;
}
.flex-m-1 {
    flex-grow: 2;
    height: 100%;
}
.flex-container-2 {
    flex-grow: 1;
}

.flex-item-2-1 {
    width: 100%;
    height: 100%;
}


.flex-container-3 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.flex-item-3-1 {
    width: 98%;
    flex-grow: 3;
}

.flex-item-3-2 {
    width: 98%;
    flex-grow: 1;
}
