#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 300%;
  margin: 2px;
  left: 0;
  animation: 10s slider infinite;
}

#slider figure img {
  width: 33%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  33% {
    left: 0;
  }

  67% {
    left: -100%;
  }

  100% {
    left: -200%;
  }
}
.flexbox-contaniner{
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox-item{
    border: 1px solid black;
    background-color:aquamarine;
    margin: 10px;
}

.box-item-1{
    min-height: 200px;
    width: 200px;

}

.box-item-2{
    min-height: 200px;
    width: 200px;

}

.box-item-3{
    min-height: 100px;
    width: 100px;

}

.box-item-4{
    height: 100px;
    width: 100px;
}

.box-item-5{
    min-height: 210px;
    width: 300px;

}

.box-item-6{
    width: 150px;
    min-height: 432px;
}

.box-item-7{
    width: 150px;
    min-height: 350px;
}
.main-content{
    margin: 5px;
    border: 2px solid black;
}
.box-item-8{
    width: 150px;
    min-height: 70px;
}
.left-content{
    display: flex;
    flex-wrap: wrap;
    / width: 200px; /
}

.for-box-3{
    display: flex;
    flex-wrap: wrap;
}

.left{
    display: flex;
    flex-wrap: wrap;
}

.for-box-6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.for-box-5{
    flex-wrap: wrap;
}
@media only screen and (max-device-width: 768px) {
  .left-class {
    flex-direction: column;
  }
}
