.flex-container{
    display: flex;
    /* border: 1px solid blue; */
    width: auto;
    height: auto;
    flex-wrap: wrap;
    flex: 3px;
    /* background-color: rgb(241, 225, 228); */
    height: auto;
    /* flex: 2px;       */

}
.flex-item{
    /* border: 2px solid black; */
    /* border: 2px solid black;  */
    height: auto;
    width: auto;
    margin: 11px;
    background-color: burlywood;
    flex-direction: row;
    justify-content: right;
    flex-wrap: wrap;
    flex: 3px;      
    /* flex-grow: 1; */
    

}
.flex-item-1{
    border: 2px solid black;
    /* background-color: black; */
    height: 220px;
    /* width: 260px;     */
    flex-wrap: wrap;

}
.flex-item-2{
    border: 2px solid black;
    /* background-color: black; */
    height: 130px;
    /* width: 140px; */
    /* flex-wrap: wrap; */
    /* flex-grow: 2; */

}
.flex-item-3{
    border: 2px solid black;
    /* background-color: black; */
    height: 75px;
    /* width: 140px; */
    /* flex: 1 1 3px; */
    overflow: auto;

    /* flex-wrap: wrap; */

}
.flex-item-4{
    border: 2px solid black;
    /* background-color: black; */
    height: 130px;
    /* width: 200px; */
    flex-direction:column;
    flex-wrap: wrap;

}

.roww{
    flex-direction:row;
    flex-wrap: wrap;
    flex: 0 3 3px;      

}

.flex-item-5{
    border: 2px solid black;
    /* background-color: black; */
    height: auto;
    /* width: 200px; */
    flex-wrap: wrap;

}
.flex-item-6{
    border: 2px solid black;
    /* background-color: black; */
    /* height: 200px;
    width: 170px; */
    flex-wrap: wrap;



}.flex-item-7{
    border: 2px solid black;
    /* background-color: black; */
    /* height: 93px;
    width: auto; */
    flex-wrap: wrap;
    height: 230px;
    
    width: auto;

}

.flex-item-8{
    border: 2px solid black;
    /* background-color: black; */
    /* height: 200px;
    
    width: 170px; */
    flex-wrap: wrap;
    height: 152px;
    width: auto;

}


