html {
  margin: 0;
  padding: 0;
}

.flex-container-row {
  display: flex;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.flex-container-column {
  display: flex;
}

.flex-items {
  background-color: azure;
  width: 100%;
  margin: 2px;
  border: 1px solid black;
}

.flex-item-row {
  min-height: 100px;
}

.flex-item-col {
  min-width: 100px;
  min-height: 151px;
}

.col-1 {
  min-height: 50px;
}

.right-cols {
  background-color: lightyellow;
}

.right-col-1 {
  height: 24vh;
  min-height: 75px;
  background-color: lavender;
}

.right-col-2 {
  min-height: 125px;
  background-color: lavender;
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 300%;
  margin: 2px;
  left: 0;
  animation: 10s slider infinite;
}

#slider figure img {
  width: 33%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  33% {
    left: 0;
  }

  67% {
    left: -100%;
  }

  100% {
    left: -200%;
  }
}

@media only screen and (max-width: 768px) {
  .flex-container-row {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .flex-container-col {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  .flex-container-row {
    display: block;
  }

  .flex-container-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .flex-items {
    width: 99%;
    margin: 2px;
    border: 1px solid black;
  }

  .right-div-class {
    display: block;
  }

  .box-5 {
    margin: 0 !important;
  }
}
