body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: white;
}

.container {
  width: 50vw;
  padding: 25px;
  margin-top: 5rem;
  margin-bottom: 2rem;
  border: 1px solid gray;
  box-shadow: 5px 10px 18px white;
}

.radio-container {
  display: flex;
  justify-content: space-between;
}

.radio-label {
  margin: 0 5px;
  align-items: center;
}

.checkbox-text {
  color: black;
  display: flex;
  justify-content: space-evenly;
}

.error-text {
  color: red;
  font-size: 11px;
  margin-top: 2px;
}

.showText {
  color: navy;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.displayData-container {
  margin: 2rem 0;
  border-top: 1px solid gray;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: fit-content;
}

.displayData-div {
  padding: 5px;
  background-color: white;
  color: black;
  margin: 3px;
  width: 50%;
}

.display-table {
  margin: 5px 2rem;
  width: 50%;
  background-color: white;
  color: black;
}
