<div class="header">
  <a routerLink="/">Home </a>
  <a routerLink="comonn/reg">Register </a>
  <a routerLink="comonn/login">Login </a>
  <a routerLink="comonn/contactus">Contact us </a>
</div>
<br>
<div>
  <img src="../assets/img/2.jpg" width="1330px">
  <router-outlet></router-outlet>
</div>
<div>
  <div class="im1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum autem architecto cumque! Assumenda in perferendis,
    error velit placeat vel? Commodi magni in libero sunt veritatis ad nisi provident nihil iusto tempora. Nostrum,
    consequuntur quidem consequatur voluptatem similique aspernatur velit? Repellendus amet qui dignissimos quidem?
    Aperiam corrupti mollitia ipsam saepe cum.
  </div>
  <div class="im2">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab incidunt quaerat non eos! Praesentium non ea voluptas
    aliquid aperiam! Maxime repellat non velit aspernatur id ducimus iusto natus quia dolorem possimus! Magnam culpa
    atque
    nam aliquid quae eos nemo ipsa, delectus quibusdam nesciunt soluta porro excepturi temporibus laboriosam repudiandae
    rem.
  </div>
  <div class="im1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum autem architecto cumque! Assumenda in perferendis,
    error velit placeat vel? Commodi magni in libero sunt veritatis ad nisi provident nihil iusto tempora. Nostrum,
    consequuntur quidem consequatur voluptatem similique aspernatur velit? Repellendus amet qui dignissimos quidem?
    Aperiam corrupti mollitia ipsam saepe cum.
  </div>
</div>
<br>

<!-- <router-outlet></router-outlet> -->